* {
    box-sizing: border-box;
}

/* navbar */

.nav-item {
    text-transform: uppercase;
}

#hero {
    width:100%;
    height:500px;
    background-image: url(/img/Hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
   
}