* {
    box-sizing: border-box;
}

h2 {
    text-align    : center;
    padding-top   : 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

table {
    margin-top: 50px
}

th {
    text-align      : center;
    background-color: #000;
    color           : #fff;
    text-transform  : uppercase;
    border-style    : solid;
    border-width    : 1px;
    
}

th>img {
    filter: invert(100%);
    height: 20px
}

td {
    background-color  : #F03435;
    color             : #fff;
    font-weight       : 700;
    border-right-style: solid;
    border-width      : 1px;
    width             : 300px
}

footer {
    height          : 360px;
    background-color: black;
}

footer h2 {
    color: white;
}

footer p {
    color     : white;
    text-align: center;
    margin    : 0;
}

span {
    color: red;
}

.padZero {
    padding: 0
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    
}

.nav-item:not(.dropdown) {
    text-transform: uppercase
}

.navbar {
    background-color: #000;
    padding         : 0;
    height          : 60px;
}

#navbarDropdownMenuLink {
    background-color: #8A1E1E;
    padding         : 4px 8px;
}




.background {
    width                : 100%;
    background-repeat    : no-repeat;
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed
}

#hero {
    height          : 100%;
    min-height      : 130vh;
    background-image: url(/img/Hero.png);
    position        : relative
}

#hero img {
    height    : 68vh;
    max-height: 390px;
    position  : absolute;
    top       : -28vh;
    bottom    : 0;
    left      : 0;
    right     : 0;
    margin    : auto
}

#closed {
    height          : 425px;
    background-image: url(/img/closed.png)
}

#rooms {
    padding-top: 25px;
    height     : 100vh;
    min-height : 1080px
}

#profesor {
    background-image: url(/img/profesor.jpg);
    width           : 450px;
    height          : 300px;
    margin          : 5px;
}

#profesor  img {
    height   : 50px;
    filter   : invert(100%);
    position : absolute;
    top      : 60%;
    left     : 50%;
    transform: translate(-50%, -50%)
}

#yakuza {
    background-image: url(/img/yakuza.jpg);
    width           : 450px;
    height          : 300px;
    margin          : 5px;
}

#yakuza  img {
    height   : 50px;
    filter   : invert(100%);
    position : absolute;
    top      : 60%;
    left     : 50%;
    transform: translate(-50%, -50%)
}

#vaudou {
    background-image: url(/img/vaudou.jpg);
    width           : 410px;
    height          : 255px;
    display         : table;
    margin          : 0 auto;
    border          : 1px solid black;
}

#vaudou  img {
    height   : 50px;
    filter   : invert(100%);
    position : absolute;
    top      : 60%;
    left     : 50%;
    transform: translate(-50%, -50%)
}


.row {
    justify-content: center
}

.contenant {
    position  : relative;
    text-align: center;
    color     : #fff;
    padding   : 10px
}

.contenant>a {
    font-weight: 700;
    color      : #fff
}

.contenant>a:hover {
    color: #fff
}

.centered {
    position : absolute;
    top      : 80%;
    left     : 50%;
    transform: translate(-50%, -50%)
}

#reservation {
    height    : 100vh;
    min-height: 800px;
}


.center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}



button {
    background-color: #F03435;
    color           : white;
    margin          : 10px 0px;
    padding         : 6px 12px;
}

.btn {
    background-color: #F03435;
    color           : white;
}

.btn:hover {
    color: white;
}

.dropdown-menu {
    background-color: #F03435;
}

.btn:hover {
    background-color: #F03435;
}

.dropdown-item {
    color: white
}

.red {
    background-color: #F03435;
    color           : white;
    margin          : 10px 0px;
    padding         : 6px 12px;
}

.arrow {
    background-color: white;
    color           : #F03435;
    font-weight     : bold;
    border-width    : 0px;
    font-size       : 40px;
    padding-bottom  : 17px;
    line-height     : 10px;
}

.left {
    color: white
}

.left:hover {
    cursor: default
}



.redLink {
    color          : red;
    text-decoration: underline;
}

.centerText {
    text-align: center;
    margin    : 100px 0px;
}

.centerText>p {
    margin: 0;
}

#tarifs {
    height: 300px;
    margin: 0px 100px;
}

.hc {
    text-align      : center;
    background-color: #FFEDED;
    border-radius   : 20px;
}

.nbjoueurs {
    text-align: center;
    color     : red;
    /* font-weight: bold; */
}

.rond {
    width        : 25px;
    height       : 25px;
    background   : lightgray;
    font         : bold 13px Arial;
    border-radius: 50%;
    border       : none;
    color        : black;
    font-size    : 13px;
    padding-left : 10px;
    padding-top  : 3px;
}

.plus {
    padding-top : 5px;
    padding-left: 9px;
}

.hp {
    text-align      : center;
    background-color: #FFEDED;
    border-radius   : 20px;
}

.float {
    background-color: red;
    margin-top      : -13px;
    border-radius   : 20px;
    display         : inline-block;
}


@media screen and (min-width:992px) {
    .navbar-brand {
        position    : absolute;
        padding-left: 8%
    }

    .navbar-nav {
        float     : none;
        margin    : 0 auto;
        display   : block;
        text-align: center
    }

    .navbar-nav>li {
        display: inline-block;
        float  : none
    }
}

@media screen and (max-width:430px) {
    #hero {
        display: none
    }

    #closed {
        display: none
    }


    .trouver {
        background-color: black;
       
    }

    .contact {
        background-color: black;
       
    }

    .hide {
        display: none
    }

    #tarifs {
        height: 500px;
        margin: 0px 100px;
    }
}