* {
    box-sizing: border-box;
}

/* navbar */

.nav-item {
    text-transform: uppercase;
}

.background {
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero {
    height: 1120px;
    background-image: url(/img/Hero.png);
}

#closed {
    height: 425px;
    background-image: url(/img/closed.png);
}